
/* 1e5bfa 094067 #2357c0*/
.navi-outline {
    width: 100%;
    background-color: #fff;

}

.navi-outline header {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-around;
    padding-top: 4rem;
}

/*Left Side*/
.navi-outline header .header-left-side nav .nav-items {
    display: flex;
    list-style: none;
}

.navi-outline header .header-left-side nav .nav-item a {
    font-size: 1.5rem;
    color: #2357c0;
    transition: all 100ms;
}

.navi-outline header .header-left-side nav .nav-item:not(:first-child) {
    margin-left: 2rem;
}

.navi-outline header .header-left-side nav .nav-item a:hover {
    border-bottom: #2357c0 .2rem solid;
    color: #2357c0;
}

/*Center Side*/

.navi-outline header .header-center-side .logo a {
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: .2rem;
    color: #2357c0;
    margin-left: -6rem;
}

.navi-outline header .header-center-side .logo {
    transition: all .5s;
}


.navi-outline header .header-center-side .logo:hover {
    transform: scale(1.3);
}



/* Right Side */

.navi-outline header .header-right-side {
    display: flex;
    align-items: center;
}

.navi-outline header .header-right-side .search-icon {
    background-image: url("../../assets/img/search-blue.png");
    width: 30px;
    height: 42px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    margin-right: 1rem;
    transition: all .2s;
}
.navi-outline header .header-right-side .search-icon:hover{
    cursor:pointer;
    transform: scale(1.2);
}

.navi-outline header .header-right-side .logIn a {
    color: #2357c0;
    font-size: 1.5rem;
    border: transparent 1px solid;
    padding: 1rem 2rem;
    transition: all .5s;

}

.navi-outline header .header-right-side .logIn a:hover {
    color: #2357c0;
    border: #2357c0 1px solid;
    border-radius: 5px;
}

.navi-outline header .header-right-side .signUp a {
    color: #fff;
    font-weight: bold;
    background-color: #2357c0;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-left: 2rem;
    font-size: 2rem;
    /* box-shadow: rgba(61, 61, 75, 0.487) 0px 7px 29px 0px; */
    border: transparent 1px solid;
    transition: all .5s;
}

.navi-outline header .header-right-side .signUp a:hover {
    background-color: #fff;
    color: #2357c0;
    border: #2357c0 1px solid;

    box-shadow: none;
}